#rainbow{
  position:absolute;
  font-family:'oddballz';
  top:20%;
  left:50%;
 text-transform: initial; transform:translate(-50%, -50%);
  color:rgba(255, 255, 255, .1);
  background: linear-gradient(to right,     rgb(76, 217, 105), rgb(52, 170, 220),     rgb(88, 86, 217), rgb(255, 45, 83),       rgb(255, 45, 83), rgb(88, 86, 217),       rgb(52, 170, 220), rgb(76, 217, 105));
  background-size: 200%;
  text-shadow:  4px 4px 0px #d5d5d5cc, 7px 7px 0px rgba(0, 0, 0, 0.2);
  -webkit-background-clip:text;
  font-weight:200;
  font-size:600%;
  text-align: left;
	top: 180px;
  animation:sTransition 10s linear infinite;
}

@keyframes sTransition{
  0%{
    background-position:0%;
  }

  100%{
    background-position:400%;
  }
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}
.container-fluid{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #FFF;
}
/* ============= Animation background ========= */
.background {
  background: linear-gradient(232deg, #FC415A, #591BC5, #212335);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding:0;
  margin:0px;
	top:0;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 1px;
  height: 1px;

  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 7s ease-in forwards infinite;
}


.cube-reverse {
  position: absolute;
  top: 15vh;
  left: 45vw;
  width: 1px;
  height: 1px;


  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube-reverse 8s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #FFF ;

}

.cube-reverse:nth-child(2) {

  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(2) {

  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube-reverse:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* ================= Header ============ */
header{
  position: absolute;
  top:0%;
  left: 0%;
  width:100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav{
  color: #FFF;
  float: right;
  margin:30px 90px;
}
nav ul{
  list-style: none;
}
nav ul li {
  float: left;
  transition: .3s;
  border: 0px solid #EFEEF5bb;
  width: 70px;
}
nav ul li a{
  text-decoration: none;
  color: #EFEEF5;
  transition: .5;
  font-size: 15px;
  margin-left:16px;
}
nav ul li:hover a{
  text-decoration: bold;
  color: #591BC5;
}
nav ul li:hover{
  height: 35px;

  padding-top: 17px;
  margin-top: -17px;
  background-color: #EFEEF555;
  border-radius: 20px;
  transition: 20ms;
  cursor: pointer;


  text-decoration: none;
}

/* Header content & title & button*/
.header-content{
  margin-top:35%;
  text-align: center;
  color:  #EFEEF5;
}
.header-content h1{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  color: #EFEEF5bb;
  line-height: 1.5;
  margin: 20px auto;
	font-family: arial, sans-serif, inherit;
}

.header-content button a{
  text-decoration: none;
}

.header-content button a:hover{
  color: white;
}

.header-content button{
  width: 140px;
  margin:20px 10px;
  color: #591BC5dd;

  font-size: 17px;
  border:1px solid #EFEEF5bb;
  font-weight: 500;
  background: #EFEEF555;
  border-radius: 5px;
  padding: 10px;
  cursor:pointer;
  transition: .3s;
}
.header-content button:hover{
  border-radius: 20px;
  color: white;
  font-weight: normal;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(5) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes cube-reverse {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(5) rotate(-1440deg) translate(-50%, -50%);
    opacity: 0;
  }
}


/* popup is only a quick, temp feature. I owe it's credit to FruitMi
https://codepen.io/FruitMi/pen/QWwpaEK?editors=1100      */
.popup {
  position: fixed;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
  visibility: hidden;
  opacity: 0;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1;
}

.popup h2 {
  color: #591BC5dd;
}

.popup p {
  color: grey;
}
.popup:target {
  visibility: visible;
  opacity: 1;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.popup-close {
  position: absolute;
  padding: 10px;
  max-width: 500px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,.9);
}
.popup .close {
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: .6em;
  font-weight: bold;
}
.popup .close:hover {
  color: pink;
}

.close-popup {
  background: rgba(0,0,0,.7);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  /* "delay" the visibility transition */
  -webkit-transition: opacity .5s, visibility 0s linear .5s;
  transition: opacity .5s, visibility 0s linear .5s;
}
.popup:target + .close-popup{
  opacity: 1;
  visibility: visible;
  /* cancel visibility transition delay */
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
